body{
    background-color: black;
}
.gallery{
    display:grid;
    grid-template-columns: auto auto auto auto;
    /* grid-gap: 5px; */
    grid-row-gap:10px;
    grid-column-gap:10px;
}
img{
    object-fit: cover;
}




body {
    margin: 0px;
}

p {
    margin: 0px;
}

#navbar-container {
    background-color: rgb(0, 0, 0);
    color: rgb(251, 251, 251);
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: space-between;
}

#home-logo {
    font-family: "Bona Nova SC", serif;
    margin-left: 20px;
    width: 150px;
    font-size: 20px;
}



#navigation {
    min-width: 290px;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
}

#links {
    margin-right: 20px;
    display: flex;
    width: 200px;
    justify-content: space-between;
}

.navs {
    margin-left: 10px;
    margin-right: 10px;
    transition-property: color;
    transition-duration: 1s;
    cursor: pointer;
}
.navs:hover{
    color:rgb(229, 255, 0)
}

.icon-1,.icon-2,.icon-3,.icon-4 {
    cursor: pointer;
    transition-property: color;
    transition-duration: 1s;
}

.icon-1:hover{
    color: rgb(255, 0, 208);
    
}
.icon-2:hover{
    color: rgb(0, 255, 102);
    
}
.icon-3:hover{
    color: rgb(0, 166, 255);
    
}
.icon-4:hover{
    color: red;
    
}